<div class="row">
  <div class="col-12 col-md-10">
    <form (ngSubmit)="onSearch(f)" #f="ngForm">
      <div class="form-group">
        <label for="search"></label>
        <input type="text" id="search" name="search" placeholder="enter a keyword to search jobs" class="form-control" ngModel>
      </div>
      <button type="submit" class="btn btn-info">search</button>
    </form>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-12">
    <div class="list-group-item clearfix" style="background-color: gray">
      <div class="row text-center" style="color: white; font-weight: bold;">
        <div class="col-9 my-auto">Job Title</div>
        <div class="col-3 my-auto">Experience (years)</div>
      </div>
    </div>

    <app-job *ngFor="let jobElement of jobs; let i = index"
             [job]="jobElement"
             [index]="i"></app-job>
  </div>
</div>
