<!--<p>--><!--footer works!--><!--</p>-->

<div class="container" style="white-space: nowrap; word-break: unset">

  <div class="row">
    <div class="mx-auto">
      <div class="col">
        <div class="mx-auto">
          <div class="row">
            <a class="col-3">support</a>
            <a class="col-3">help</a>
            <a class="col-3">chat</a>
            <a class="col-3">feedback</a>
            <a class="col-3">link 1</a>
            <a class="col-3">link 2</a>
            <a class="col-3">link 3</a>
            <a class="col-3">link 4</a>
            <a class="col-3">link 5</a>
            <a class="col-3">link 6</a>
            <a class="col-3">link 7</a>
            <a class="col-3">link 8</a>
            <a class="col-3">link 9</a>
            <a class="col-3">link 10</a>
            <a class="col-3">link 11</a>
            <a class="col-3">link 12</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="ml-auto">
      <a style="padding: 5px" href="https://facebook.com"><i class="fab fa-facebook-square"></i></a>
      <a style="padding: 5px" href="https://plus.google.com"><i class="fab fa-google-plus-square"></i></a>
      <a style="padding: 5px" href="https://twitter.com"><i class="fab fa-twitter-square"></i></a>
      <a style="padding: 5px" href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
      <a style="padding: 5px" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto">
      <p>&copy; 2018 Company Name.</p>
    </div>

  </div>

</div>
