<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onJobPost(f)" #f="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control" ngModel>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" class="form-control" ngModel>
      </div>

      <div class="form-group">
        <label for="requirements">Requirements</label>
        <textarea type="text" rows="3" id="requirements" name="requirements" placeholder="use comma to separate requirements" class="form-control"
                  ngModel></textarea>
      </div>

      <div class="row">
        <div class="col-5">
          <div class="form-group">
            <label for="experience">Experience</label>
            <input type="number" id="experience" name="experience" class="form-control" ngModel>
          </div>
        </div>
        <div class="col-7">
          <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" id="salary" name="salary" class="form-control" ngModel>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success">Post</button>
    </form>
  </div>
</div>
