<div>
  <h4 class="mx-auto">Contact Details</h4>
</div>

<div class="row">
  <div class="col-4 col-sm-3 col-md-2">
    <h5>Mobile:</h5>
  </div>
  <div class="col-6 col-sm-5 col-md-4">
    <p>9051568624</p>
  </div>
</div>

<div class="row">
  <div class="col-4 col-sm-3 col-md-2">
    <h5>Landline:</h5>
  </div>
  <div class="col-6 col-sm-5 col-md-4">
    <p>033 2350 8386</p>
  </div>
</div>

<div class="row">
  <div class="col-4 col-sm-3 col-md-2">
    <h5>Email:</h5>
  </div>
  <div class="col-6 col-sm-5 col-md-4">
    <p>supriyobaidya63@gmail.com</p>
  </div>
</div>

<div class="row">
  <div class="col-4 col-sm-3 col-md-2">
    <h5>FAX:</h5>
  </div>
  <div class="col-6 col-sm-5 col-md-4">
    <p>9051568624</p>
  </div>
</div>

<div class="row">
  <div class="col-4 col-sm-3 col-md-2">
    <h5>Address:</h5>
  </div>
  <div class="col-6 col-sm-5 col-md-4">
    <p>JD-2, JD Block, Sector III, Salt Lake City, Kolkata, West Bengal 700098</p>
  </div>
</div>
