<p>
  home works!
</p>
<div class="container">

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let image of images">
          <img [src]="image" alt="Random first slide" class="img-fluid" style="width: 700px; height: 350px">
          <!--<div class="carousel-caption">-->
          <!--<h3>First slide label</h3>-->
          <!--<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
          <!--</div>-->
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-2"></div>

  </div>


</div>
